@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Caveat&family=Cinzel+Decorative&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('game.over\ img.png');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.maincontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  font-weight: 700;
  margin-top: -62vh;

}
.sideimg{
  margin-top: 150px;
}
.resulttext{
  color: white;
  font-size: 90px;
  padding-right:20% ;
  font-family: 'Black Ops One',sans-serif;
  word-spacing: 5px;
  color: rgb(231,97,100);
  margin-left: 140px;

}
.scoretext{
  color: white;
  font-size: 70px;
  font-family: 'Black Ops One',sans-serif;
  word-spacing: 5px;
  color: rgb(231,97,100);
  height: 20%;
  width: 50%;
}
.Restartbtn
{
  width: 150px;
  height: 50px;
  padding: 10px;
  border: 1px solid rgb(104,31,131);
  color: rgb(36,63,128);
  background-color: rgb(247,246,212);
  border-radius: 35px;
  font-size: 20px;
  font-family: 'Irish Grover', sans-serif;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px rgb(219,109,133);
  letter-spacing: 5px;
  
}

.LeaderBoardbtn{
  width: 200px;
  height: 50px;
  /* padding: 10px; */
  border: 1px solid rgb(104,31,131);
  color: rgb(36,63,128);
  background-color: rgb(247,246,212);
  border-radius: 35px;
  font-size: 20px;
  font-family: 'Irish Grover', sans-serif;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px rgb(219,109,133);
  letter-spacing: 5px;
}

.Restartbtn:hover{
  background-color: rgb(245, 5, 5);
  color: rgb(250, 247, 247);
  box-shadow: 1px 1px 1px 1px rgb(18, 17, 17);

}
.Homebtn:hover{
  background-color: red;
  color: white;
  box-shadow: 1px 1px 1px 1px rgb(18, 17, 17);
}
.LeaderBoardbtn:hover{
  background-color: rgb(245, 5, 5);
  color: rgb(250, 247, 247);
  box-shadow: 1px 1px 1px 1px rgb(18, 17, 17);
}

.finalbuttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-bottom: -60px;
  /* height:10vh;
  width: 100vw; */
}
.homeicon{
  width: 60px;
  margin-left: 40px;
  margin-left:800px;
}
.icon{
  margin-top: -4vw;
  margin-right: -30vw;
}
.icon:hover{
  cursor: pointer;
}