/* importing fonts */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat&family=Cinzel+Decorative&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Caveat&family=Cinzel+Decorative&family=Cinzel:wght@500&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=Merienda&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Caveat&family=Cinzel+Decorative&family=Cinzel:wght@500&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=Merienda&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Bungee&family=Caveat&family=Cinzel+Decorative&family=Cinzel:wght@500&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=Merienda&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('https://wallpapercave.com/wp/wp8944030.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.maindiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}

/* easy mode selecting button styling */

.easy{
  width: 300px;
  height: 100px;
  border-radius: 30px;
  border:2px solid rgba(255, 149, 0, 0.861);
  font-size: 40px;
  font-weight: 600;
  background-color: aqua;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  font-family: 'Bree Serif', sans-serif;
  
}
.easy:hover{
  background-color: red;
  color: black;
  border:2px solid rgba(15, 10, 3, 0.861);
  
}

/* easy mode selecting button styling */

.hard{
  width: 300px;
  height: 100px;
  border-radius: 30px;
  border:2px solid rgba(255, 149, 0, 0.861); 
  font-size: 40px;
  font-weight: 600;
  background-color: aqua;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
  font-family: 'Bree Serif', sans-serif;
  
  
}
.hard:hover{
  background-color: red;
  color: black;
  border:2px solid rgba(15, 10, 3, 0.861);
}

.modeimg{
  width: 60px;
}
.heading{
  display: flex;
  align-items: baseline;
  gap: 10px;
}
h1{
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 60px;
  color:rgb(252,4,4);
  word-spacing: 5px;
  font-weight: 1500;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
}

#gameArea{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 180px;
  
}

/* new game selecting button styling */

#newGameButtons{
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 1px solid rgb(104,31,131);
  color: rgb(36,63,128);
  background-color: rgb(247,246,212);
  border-radius: 35px;
  font-size: 20px;
  font-family: 'Irish Grover', sans-serif;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 1px 1px 1px 1px rgb(219,109,133);
  letter-spacing: 5px;
  margin-left: 40%;
  margin-top: 20px;
}
h3{
  font-size: 99px;
  font-family: 'Poppins', sans-serif; 
  padding-left: 30%;
  color: yellow;
  padding-top: 10vh;
  font-family: 'Black Ops One',serif;
  letter-spacing: 2px;


}
#inputBox{
  height: 10vh;
  width: 15vw;
  font-size: 15px;
  font-weight: 900;
  border: 2px solid blue  ;
  border-radius: 20px;
  margin-left: 40%;
  margin-top: 6vh;
  text-align: center;
  padding: 5px;
}
.info p{
  font-size: 45px;
  display: flex;
  padding-left: 2vw;
  padding-top: 6vh;
  font-family: 'Merienda', sans-serif;
  color: aqua;
}


.stats p{
  font-size: 40px;
  display: flex;
  padding-left: 35vw;
  padding-top: 3vh;
  font-family: 'Merienda', sans-serif;
  color: aqua;

  
}
.clue_txt{
font-size: 65px;
display: flex;
padding-left: 35vw;
padding-top: 6vh;
font-family: 'Bungee', sans-serif;
color: rgb(255, 136, 0);
}

.score1{
  color: yellow;
  font-size: 50px;
  padding-left: 35vw;
  padding-top: 2vw;
  font-family: 'Black Ops One',serif;
}

/* making responsive */

@media(max-width:950px){
  body{
    width: 100vw;
    height: 100vh;

  }
  h1{
    font-size: 70px;
  }
  .modeimg{
    width:80px ;
  }
.easy{
  width:250px ;
  height:100px ;
  font-size: 50px;
  margin-top: 10vh;
}
.hard{
  width:250px ;
  height:100px ;
  font-size: 50px;
  margin-top: 10vh;

}


}


@media(max-width:680px){
  body{
    width: 100vw;
    height: 100vh;

  }
  h1{
    font-size: 25px;
  }
  .modeimg{
    width:30px ;
  }

}
@media(max-width:300px){
  body{
    width: 100vw;
    height: 100vh;

  }
  h1{
    font-size: 15px;
  }
  .modeimg{
    width:30px ;
  }
  .easy{
    width:100px ;
    height:25px ;
    font-size: 15px;
  }
  .hard{
    width:100px ;
    height:25px ;
    font-size: 15px;
   
  }
}

/* // game area/ */
@media(max-width:1450px){
body{
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.info p{
  font-size: 30px;
}
.stats p{
  font-size: 30px;
}
.clue_txt{
  font-size: 30px;
}
h3{
  font-size: 35px;
  padding-right: 10%;

}


#c{
  width: 150px;
  height: 35px;
  font-size: 15px;
}
.score1{
  font-size: 55px;

}
}

@media(max-width:950px){
body{
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

 #textOutput{
  font-size: 3rem;
  padding-left: 20%;
 } 
.info p{
  font-size: 60px;
}
.stats p{
  font-size: 30px;
  padding-left: 10%;
}
.clue_txt{
  font-size: 3rem;
}
h3{
  font-size: 25px;
  padding-right: 10%;

}
#inputBox{
  height:5vh ;
  width: 15vw;
  font-size: 18px;
}
#newGameButtons{
  width: 100px;
  height: 25px;
  font-size: 10px;
}
.score1{
  font-size: 55px;

}
}
@media(max-width:820px){
body{
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.info p{
  font-size: 20px;
}
.stats p{
  font-size: 15px;
}
.clue_txt{
  font-size: 20px;
}
h3{
  font-size: px;

}
#inputBox{
  height:5vh ;
  width: 20vw;
  font-size: 10px;
}
#gameArea{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
#newGameButtons{
  width: 80px;
  height: 20px;
  font-size: 10px;
}
.score1{
  font-size: 35px;

}
}
@media(max-width:450px){
body{
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.info p{
  font-size: 10px;
}
.stats p{
  font-size: 15px;
}
.clue_txt{
  font-size: 15px;
}
h3{
  font-size: 20px;
}
#inputBox{
  height:5vh ;
  width: 30vw;
  font-size: 10px;
}
#gameArea{
display: flex;
justify-content: flex-start;
align-items: flex-start;
line-height: 5vh;
}
#newGameButtons{
  width: 80px;
  height: 20px;
  font-size: 10px;
  padding: 5px;
}
#textOutput{
  font-size: 25px;
  padding-left: 8%;
}
.score1{
  font-size: 25px;
}
}