@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bree+Serif&family=Caveat&family=Cinzel+Decorative&family=Edu+TAS+Beginner:wght@500&family=Irish+Grover&family=Merienda&family=PT+Serif:ital@0;1&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  color: white;
  font-family: 'Merienda', serif;

}

.middlecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

h1{
  font-family: 'Merienda', serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: red;

}

.hinttext{
  font-size: 40px;
  color: white;
}
.subdiv{
  display: flex;
  width: 50vw;
  height: 10vh;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 80px;
}
.hint_image{
  width: 60px;
  border-radius: 50px;
}
.resulttext{
  font-size: 40px;
  color: white;
  width: 30vw;
  height: 10vh;
  margin-right: 5%;

}

.guess_info_text{
  font-size: 30px;
  color: white;
  width: 30vw;
  height: 10vh;
  margin-right: 5%;
}

.input_box{
  height: 10vh;
  width: 15vw;
  font-size: 15px;
  font-weight: 900;
  border: 2px solid blue  ;
  border-radius: 20px;
}
.input_box:hover{
  color: red;
}
.maincontainer{
  display: flex;
  flex-direction: row;
}
.attempts_info{
  height: 80vh;
  width: 20vw;
  background-image: url('side_img-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: 100% 30vw;
  padding-top: 8vh;
  padding-left: 8.5vh;
  font-size: 20px;
}
.guess_info{
  height: 80vh;
  width: 20vw;
  background-image: url('side_img-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: 100% 30vw;
  padding-top: 8vh;
  padding-left: 12vh;
  font-size: 20px;
}